---
import PageLayout from '~/layouts/PageLayout.astro';
---

<PageLayout
  title="師資介紹"
  description="台清交資歷師資、13 年以上教學經驗。"
  heading="師資介紹"
  subheading="由台大資工碩士領軍的小班教學團隊"
>
  <p class="text-charcoal/80">（此頁將於 Phase 3 開發）</p>
</PageLayout>
